body {
    background-image: url("https://images.unsplash.com/photo-1509805735646-2f72b3272a7d?q=80&w=1950&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.heading {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 60px;
    background-color: rgba(251, 248, 249, 0.9);
    padding: 20px;
    border: 3px solid black;
    font-family: monospace, sans-serif;
}


.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.christmas {
    background-color: rgba(251, 248, 249, 0.82);
    height: 300px;
    width: 200px;
    margin-top: 50px;
    border: 3px solid black;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: monospace, sans-serif;
    font-size: 30px;
}

.days,
.hours,
.minutes,
.seconds {
    font-family: monospace, sans-serif;
    font-size: 40px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.light-coral {
    color: lightcoral;
}

.align-vertically {
    align-content: center;
}

.play-button {
    font-size: 4rem;
    background-color: transparent;
}

.heading-text {
    font-size: 60px;
    border: none;
    font-family: monospace, cursive;
    background-color: transparent;
}

.date-input {
    padding: 1rem;
    font-size: 20px;
}

button {
    border: none;
}


@media all and (max-width: 800px) {
    h1 {
        font-size: 40px;
    }
}

@media all and (max-width: 500px) {
    h1 {
        font-size: 30px;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
}